#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/reset.h>

#define BASE  0
#define FN1   1
#define FN2   2
#define FN3   3

#define BT(n)   &bt BT_SEL n
#define BTCLR   &bt BT_CLR
#define OUTBLE  &out OUT_BLE
#define OUTUSB  &out OUT_USB
#define FLASH   &bootloader
#define RESET   &sys_reset

#define VOL_UP  &kp C_VOL_UP
#define VOL_DN  &kp C_VOL_DN
#define MUTE    &kp K_MUTE
#define PLAY    &kp C_PP
#define NEXT    &kp C_NEXT
#define PREV    &kp C_PREV

#define T_H     &kp LC(A)
#define T_WB    &kp LA(LEFT)
#define T_WF    &kp LA(RIGHT)
#define T_E     &kp LC(E)

#define L_CMD(x) &kp LG(x)

#define _       &kp
#define _____   &none

/ {
  keymap {
    compatible = "zmk,keymap";

    base_layer {
      bindings = <
        _ ESC       _ N1        _ N2        _ N3        _ N4        _ N5            _ N6        _ N7        _ N8        _ N9        _ N0        _ BSPC
        _ TAB       _ Q         _ W         _ E         _ R         _ T             _ Y         _ U         _ I         _ O         _ P         _ MINUS
        _ ESC       _ A         _ S         _ D         _ F         _ G             _ H         _ J         _ K         _ L         _ SEMI      _ SQT
        _ LSHFT     _ Z         _ X         _ C         _ V         _ B             _ N         _ M         _ COMMA     _ DOT       _ SLASH     _ RSHFT
        _ LCTRL     _ LALT      _ LEFT      _ RIGHT     &mo FN1     _ LGUI          _ SPACE     &mo FN2     _ DOWN      _ RGUI      _ RALT      _ RCTRL 
      >;
    };

    fn1_layer {
      bindings = <
        _ GRAVE     _ F1        _ F2        _ F3        _ F4        _ F5            _ F6        _ F7        _ F8        _ F9        _ F10       _ DEL
        _ CAPS      _ HOME      _ UP        _ END       L_CMD(R)    _ BSLH          _ PIPE      _ DEL       _ BSPC      _ LBKT      _ RBKT      _ BSLH
        _ CAPS      _ LEFT      _ DOWN      _ RIGHT     L_CMD(F)    _ PIPE          _ GRAVE     _ EQUAL     _ MINUS     _ LBRC      _ RBKT      _ PIPE
        &trans      L_CMD(Z)    L_CMD(X)    L_CMD(C)    L_CMD(V)    L_CMD(B)        _ F11       MUTE        VOL_DN      VOL_UP      _ UP        &trans
        _ SPACE     &mo FN3     _ PG_UP     _ PG_DN    &trans      _ RETURN        _ RETURN  &trans        _ UP        _ LEFT      _ DOWN      _ RIGHT 
      >;
    };

    fn2_layer {
      bindings = <
        _ F1        _ F2        _ F3        _ F4        _ F5        _ F6            _ F7        _ F8        _ F9        _ F10       _ F11       _ F12
        _ CAPS      _ HOME      _ PG_UP     _ LPAR      _ RPAR      _ BSLH          &trans      &trans      &trans      _ LBKT      _ RBKT      _ BSLH
        _ CAPS      _ END       _ PG_DN     _ LBKT      _ RBKT      _ EQUAL         _ GRAVE     _ EQUAL     _ MINUS     PREV        PLAY        NEXT
        &trans      T_H         T_WB        T_WF        T_E         _ GRAVE         _ F11       MUTE        VOL_DN      VOL_UP      _ UP        &trans
        &trans      &trans      &trans      &trans      &trans      _ RETURN        _ RETURN    &trans      _ UP        _ LEFT      _ DOWN      _ RIGHT 
      >;
    };

    fn3_layer {
      bindings = <
        BTCLR       BT(0)       BT(1)       BT(2)       BT(3)       BT(4)           _____       _____       _____       _____       _____       RESET
        OUTBLE      _____       _____       _____       _____       _____           _____       _____       _____       _____       _____       _____
        OUTUSB      _____       _____       _____       _____       _____           _____       _____       _____       _____       _____       _____
        _____       _____       _____       _____       _____       _____           _____       _____       _____       _____       _____       _____
        _____       _____       _____       _____       _____       FLASH           FLASH       _____       _____       _____       _____       _____ 
      >;
    };

  };
};
